.title-cards{
    margin-top: 50px;
    margin-bottom: 30px;
}

.title-cards h2{
    margin-bottom: 8px;
}

.card-list{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: visible;

    /* display: flex;
    gap: 10px;
    overflow-x: scroll; */
}

.card-list::-webkit-scrollbar{
    display: none;
}

.card-list img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.card-list .card{
    position: relative;
    transition: transform 0.3s ease;
    /* position: relative; */
}

.card-list .card p{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.card-list .card:hover {
    transform: scale(1.1);
    z-index: 5;
}

